workflow.json
{
  "name": "dashboard_tutorial",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are an AI that maintains data in a Google Sheet.\n\n### Your Process\n\n1. **Understand the user request.**\n2. **Read the sheet first** using `read_google_sheet` (always get the latest data).\n3. **Locate the relevant row**:\n   - Match based on a unique identifier (example: email, client name, ID).\n4. **Decide what needs to happen**:\n   - If the row exists → update only the changed fields.\n   - If no row exists → append a new row.\n5. **Apply changes** using `update_google_sheet` or `append_google_sheet`.\n6. **Confirm in one short sentence what you did.**\n\n### Rules\n\n- **Never overwrite data outside the target row.**\n- **Never assume the sheet is up to date — always read before you write.**\n- If the request is unclear → **ask a clarifying question before editing.**\n- Confirm like: “✅ Updated revenue for Client A.” or “✅ Added new client record.”\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        96,
        320
      ],
      "id": "a5e6e6a7-b1da-47f8-8139-e2dd6c65269b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        544
      ],
      "id": "a963f0c0-e33c-4c2a-9bec-5d1a6ba2bba9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "OcInNN8TUL1VAn8V",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        32,
        544
      ],
      "id": "e14b8cdb-e3d2-4368-8e47-4e93510fb859",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1TIC4G3_6WrQBcPAQaAWMQGj57qCHVIJot7N98G_y8qg",
          "mode": "list",
          "cachedResultName": "dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TIC4G3_6WrQBcPAQaAWMQGj57qCHVIJot7N98G_y8qg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TIC4G3_6WrQBcPAQaAWMQGj57qCHVIJot7N98G_y8qg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        160,
        544
      ],
      "id": "f1a8bc38-5cb2-49d8-bcda-f71222fc6c80",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EeZSC6A6kiJRCrb4",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1TIC4G3_6WrQBcPAQaAWMQGj57qCHVIJot7N98G_y8qg",
          "mode": "list",
          "cachedResultName": "dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TIC4G3_6WrQBcPAQaAWMQGj57qCHVIJot7N98G_y8qg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TIC4G3_6WrQBcPAQaAWMQGj57qCHVIJot7N98G_y8qg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Client__using_to_match_', ``, 'string') }}",
            "Amount Paid": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Amount_Paid', ``, 'string') }}",
            "Industry": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Industry', ``, 'string') }}",
            "Gmail": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Gmail', ``, 'string') }}"
          },
          "matchingColumns": [
            "Client"
          ],
          "schema": [
            {
              "id": "Client",
              "displayName": "Client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Amount Paid",
              "displayName": "Amount Paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gmail",
              "displayName": "Gmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        288,
        544
      ],
      "id": "d93e0a24-b1ed-4128-ab17-f81847014c59",
      "name": "Append or update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EeZSC6A6kiJRCrb4",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -320,
        320
      ],
      "id": "b17961a5-c9ad-4df1-951a-71a58d83eeca",
      "name": "Telegram Trigger",
      "webhookId": "2bbe2cc6-e4ec-49e2-804d-8637fd51afbb",
      "credentials": {
        "telegramApi": {
          "id": "l2rlEsGay8AnNlf9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        320
      ],
      "id": "f092a17f-ed2c-461a-8cd3-e462808c4516",
      "name": "Send a text message",
      "webhookId": "9059b660-6cac-416e-8d42-376789a9b812",
      "credentials": {
        "telegramApi": {
          "id": "l2rlEsGay8AnNlf9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        416,
        544
      ],
      "id": "e61343d4-bba2-46fa-845d-57ba6fa56ac6",
      "name": "Send a message in Gmail",
      "webhookId": "ad53df68-d0a5-4359-9adc-e794467eec80",
      "credentials": {
        "gmailOAuth2": {
          "id": "y32eJRJYeL3Fp7ac",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fd91dab0-3624-44f6-9fe4-b3264bb5731b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7747767ff9a052481fa65ec90fd53360b4490b518ab95cbc4868c3ad462a73de"
  },
  "id": "4WG7krFY2Ppd4VFt",
  "tags": []
}
